.section-zero-padding {
   padding-top: 0;
}

.about-work {
    display: flex;
    justify-content: space-between;
    
}

.examples{
    position: relative;
    width: 370px;
    height: 294px;
    max-width: 100%;
}

.work-elements {
    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
}

.word-work-elements {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
    padding-left: 83px;
    padding-top: 27px;
}